Django==3.2.16
djangorestframework==3.15.2
pytest==7.4.4
pytest-django==4.8.0
djangorestframework-simplejwt==5.5.1
django-filter==23.5
Pillow==10.1.0
PyJWT==2.12.1
requests==2.32.5
pytest-pythonpath==0.7.3
